*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 140vh;
 background:linear-gradient(-45deg,rgb(9, 229, 229), #4158d0,#e560dc,#ffb374,#ef5f5f,#d840b6) no-repeat center / cover;
     animation: bg 12s ease infinite;
          
          width: 100%;
          
    backdrop-filter: blur(30px);
     
}
.logo{
    width: 80px;
    height: 80px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur 50px;
    color: white;

}
.children a{
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;
      color: white;

    
}
.children a:hover{

    border-color: white;
}

.home{
    display: flex;
    align-items: center;
    gap: 50px;
    text-align: center;
    height: 100%;
    padding: 50px 5% 0;
    color: rgb(9, 229, 229);
}
.colleg{
    justify-content: center;
    align-items: center;
}
.colleg h1{
   font-size: 55px;
   line-height: 1;
}
.colleg h2{
    font-size: 32px;

}
.colleg p {
    margin: 10px 0 20px;
}
.colleg .social{
   display: flex;
   align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 40px;
    background: white;
    box-shadow: 0 0 10px white;
    color: rgb(9, 229, 229);
    text-decoration: none;
    font-weight: 500;
   transition: .5s;
}
.btn:hover{
    background: transparent;
    box-shadow: none;
    color: rgb(9, 229, 229);
}
.social-icons{
    margin-left: 20px;
}
.social-icons a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(9, 229, 229);
    text-decoration: none;
    margin: 8px;
    transition: .5s;
}
.social-icons a:hover{
    background: white;
    box-shadow: white;
    color: rgb(9, 229, 229);
}
.courase{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: rgb(9, 229, 229);
    

}
.top{
    color: rgb(9, 229, 229);
    font-size: 40px;
}
.mane-card{
    justify-content: center;
    align-items: center;
    text-align: center;display: flex;
    flex-wrap: wrap;
      color: rgb(9, 229, 229);
    
    gap: 40px;
    
}
   

    .card {
       background: linear-gradient(-45deg,rgb(9, 229, 229), #4158d0,#e560dc,#ffb374,#ef5f5f,#d840b6);
     animation: bg 12s ease infinite;
 
      width: 320px;
      border-radius: 12px;
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: translatey(-10px);
    }

    .card img {
      width: 100%;
      height: auto;
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: rgb(9, 229, 229);
    }

    .card-text {
      font-size: 1rem;
      color: rgb(9, 229, 229);
      
      margin-bottom: 15px;
    }

    .card-button {
      display: inline-block;
      padding: 10px 15px;
      background-color: #4a90e2;
      color: #fff;
      text-decoration: none;
      border-radius: 6px;
      transition: background-color 0.3s ease;
    }

    .card-button:hover {
      background-color: #357ab8;
    }

.schlore{
    background: linear-gradient(-45deg,rgb(9, 229, 229), #4158d0,#e560dc,#ffb374,#ef5f5f,#d840b6);
     animation: bg 12s ease infinite;
 
    width: 100%;
    height: 300px;
    border-radius: 30px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
     
    color:rgb(9, 229, 229) ;      
}
.progran{
    font-size: 40px;
}
.bta{
display: inline-block;
    padding: 10px 20px;
    
    border: 2px solid white;
    border-radius: 40px;
    background: white;
    box-shadow: 0 0 10px white;
    color: rgb(9, 229, 229);
    text-decoration: none;
    font-weight: 500;
   transition: .5s;
}
.bta:hover{
    
    background: transparent;
    box-shadow: none;
    color: rgb(9, 229, 229);
}
.sport{
    text-align: center;
    padding-top: 50px;
    color: rgb(9, 229, 229) ;
}
.cintact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg,rgb(9, 229, 229), #4158d0,#e560dc,#ffb374,#ef5f5f,#d840b6);
     animation: bg 12s ease infinite;
    background-size: cover;
}
@keyframes bg{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.cintact .content{
    max-width: 800px;
    text-align: center;
}
.cintact .content h2{
   font-size: 36px;
   font-weight: 500;
   color: #fff;
}

.cintact .content p{
   font-weight: 300;
   color: #fff;
}
.contain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contain .cantactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contain .cantactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.fa-solid{
    color: #00bcd4;
}
.contain .cantactinfo .box .iconse{
    width: 60px;
    
    display: flex;
    
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: #01080e;
}
.contain .cantactinfo .box .texts{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
   font-weight: 300;

}

.contain .cantactinfo .box .texts h1{
    font-weight: 500;
    color: #00bcd4;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;


}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span

.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12;
    transform: translatey(-20px);
}
.contactform .inputbox input[type="submit"]{
   width: 100px;
   background: #00bcd4;
   color: #fff;
   border: none;
   cursor: pointer;
   padding: 10px;
   font-size: 18px;
}
.conta{
    color:  rgb(9, 229, 229);
}
footer{ 
    
    width: 100%;
    bottom: 0;
    background: linear-gradient(-45deg,rgb(9, 229, 229), #4158d0,#e560dc,#ffb374,#ef5f5f,#d840b6);
     animation: bg 12s ease infinite;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    
    line-height: 20px;
}
.rowba{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
       justify-content: center;
    align-items: flex-start;
    
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), col:nth-child(3){
    flex-basis: 15px;
}
.banner{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
section{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;

}
form .fa{
    font-size: 18px;
    margin-right: 10px;
}
section input{
    width: 100%;
    background: transparent;
    color: #ccc;
    outline: none;
    border: 0;
}
section button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

}
section button .fas{
    font-size: 16px;
    color:  rgb(9, 229, 229);


}
.socai-icon .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    line-height: 40px;
    font-size: 20px;
    color: rgb(9, 229, 229) ;
    margin-right: 15px;
    cursor: pointer;
     transition: .5s;
}
.socai-icon .fa-brands:hover{
     background: transparent;
    box-shadow: none;
    color: rgb(9, 229, 229);
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;

}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 919px){
    .cintact{
        padding: 50px;
    }
    .contain{
      flex-direction: column;
    }
    .contain .contactinfo{
        margin-bottom: 40px;
    }
    .contain .contactinfo,
       .contactform{
        width: 100%;
    }
}
@media (max-width: 775px){
    .schlore{
        
        width: 100%;
        height: 400px;
        
        
    }
}

@media (max-width: 773px){
    .children{
        display: none;
    }
}
@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
    flex-basis: 100%;
    
}
.col:nth-child(2), col:nth-child(3){
    flex-basis: 100%;
}

}